body {
	 
}

.footer {
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center; background: rgba(50, 68, 86, 0.15) !important;
}

.mainForm {
	background: rgba(255, 255, 255, 0.74) !important;
	width: 50%;flex: 1 0 auto;
	border: 0px solid #fff
}

.mainPolygon {
	-webkit-clip-path: polygon(-71% -146%, 84% 15%, 71% 76%, 12% 99%); 
	width:350px; 
	background: rgba(71, 116, 148, 0.94);
	padding: 1px;
	
}

.registerIcon {
	color:#9e9e9e;
}

.mainPolygonText {
	color: rgba(250, 252, 239, 0.8);
	margin-left: -60px;
}

.errorMessage {
	font-size: 13px;
	color: #ea1717;
}

